streamlit
speechrecognition
pytesseract
Pillow
langchain
langchain-core
langchain-community
langchain-groq
faiss-cpu
python-docx
pandas
huggingface_hub
sentence-transformers==2.2.2
transformers==4.31.0
torch
